.sticky-athlete {
  position: sticky;
  top: 0;
  background: white;
  z-index: 10;
}
.sticky-athlete-underhead-upertablework {
  position: sticky;
  top: 40px;
  background: white;
  z-index: 8;
}

.sticky-athlete-underhead {
  position: sticky;
  top: 80px;
  background: white;
  z-index: 8;
}
