.dashboardheight{
    display: flex;
    height: 90vh;
    width: 100%;
}
.navstiky{
    position: sticky;
    top: 0%;
    


}
.athlete-dashboard {
  padding: 30px;
  background: #f3f4f6;
  min-height: 100vh;
}

.cards {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.card {
  flex: 1;
  background: white;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  text-align: center;
}

.icon {
  font-size: 28px;
  margin-bottom: 10px;
}

.indigo { color: #6366f1; }
.blue { color: #3b82f6; }
.green { color: #10b981; }

.chart-container {
  background: white;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}
